.conteiner {
  max-width: 120rem;
  flex: 1;
  width: 100%;
  display: flex;
}

.contenedor {
  max-w
}



.contenido {
  display: grid;
  gap: 4rem;
  width: 50%;
}

@media(min-width: 300px) {
  .contenido {
    gap: 2rem;
    display: grid;
    width: 95%;
  }
}


@media(min-width: 820px) {
  .contenido {
    gap: 2rem;
    display: grid;
    width: 100%;
  }
}
