

.contenido {
  display: grid;
  gap: 4rem;
  width: 50%;
  max-width: 120rem;
  display: flex;
  flex: 1;
}

@media(min-width: 300px) {
  .contenido {
    gap: 2rem;
    display: grid;
    width: 95%;
  }
}


@media(min-width: 820px) {
  .contenido {
    gap: 2rem;
    display: grid;
    width: 100%;
  }
}
