.titulo {
  font-family: 'Libre Bodoni', serif; /* */
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

.descripcion {
  font-size: 2rem;
  font-weight: 700;
}

@media(min-width: 300px) {
  .descripcion {
    text-align: left;
  }
}

@media(min-width: 1200px) {
  .descripcion {
    text-align: left;
  }
}

.head {
  max-width: 120rem;
  margin: 1rem 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.campo {
  width: 50%;
}

@media(min-width: 300px) {
  .campo {
    width: 90%;
    justify-content: center;
  }
}

@media(min-width: 1200px) {
  .campo {
    width: 40%;
  }
}

.boton {
  background-color: var(--primary);
  width: 100%;
  cursor: pointer;
  color: var(--blanco);
  justify-content: center;
  margin-top: 4rem;
  padding: 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.borde {
  background-color: var(--blanco);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.contenido {
  display: grid;
  gap: 4rem;
  width: 50%;
}

.campo


@media(min-width: 300px) {
  .contenido {
    gap: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 10%;
  }
}

@media(min-width: 820px) {
  .contenido {
    gap: 2rem;
    display: grid;
    width: 30%;
  }
}

@media(min-width:1200px) {
  .contenido {
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
  }
}

