
.contenido {
  display: grid;
  gap: 4rem;
  width: 50
}

@media(min-width: 300px) {
  .contenido {
    gap: 2rem;
    display: grid;
    width: 95%;
  }
}

@media(min-width: 820px) {
  .contenido {
    gap: 2rem;
    display: grid;
    width: 100%;
  }
}

@media(min-width:1200px) {
  .contenido {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
